<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="RepeatInterval" value="5000" />
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpUsername" value="username@gmail.com" />
    <add key="SmtpPassword" value="password" />
  </appSettings>
  <connectionStrings>
    <add name="emailMessaging" connectionString="server=(localdb)\MSSQLLocalDB;database=Email_Messaging;Trusted_Connection=Yes;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>