<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="ApplicationName" value="EmailSender.WinSvc" />
    <add key="Host" value="myrabbitmqw3i65doiollqu-vm0.westeurope.cloudapp.azure.com" />
    <add key="Port" value="5672" />
    <add key="User" value="test" />
    <add key="Password" value="test" />
    <add key="VirtualHost" value="/" />
    <add key="QueueName" value="emailsender.queue" />
    <add key="ExchangeName" value="emailsender.exchange" />
    <add key="RoutingKey" value="es" />
  </appSettings>
</configuration>
